<%- include('../partials/header') %>

<h1>Add New Show</h1>

<p class="subtitle">
Create a new show entry for the club.
</p>

<div class="card">
  <form method="POST" action="/admin/show" enctype="multipart/form-data">
    <label>Show Name</label>
    <input name="name" required>

    <label>Show Name</label>
    <input name="name" value="<%= show.name %>" required>

    <label>Description</label>
    <input name="description" value="<%= show.description %>">

    <label>Has the club watched it? </label>
    <input name="watched" value="<%= show.watched %>" type="checkbox">

    <label>Watch Time</label>
    <input name="watchTime" value="<%= show.watchTime %>">

    <label>Comments</label>
    <textarea name="comments"><%= show.comments %></textarea>

    <label>Show Thumbnail</label>
    <input type="file" name="icon">

    <button class="btn">Create Show</button>
  </form>
</div>

<%- include('../partials/footer') %>