<%- include('../partials/header') %>

<div class="admin-toolbar">
  <h1>Shows</h1>
  <div>
    <input
      id="showSearch"
      placeholder="Search shows..."
      class="search-input"
    />
    <a href="/admin/shows/new" class="btn-add">
    + Add Show
    </a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Name</th>
      <th>Descritpion</th>
      <th>WatchTime</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% show.forEach(c => { %>
    <tr data-name="<%= c.name.toLowerCase() %>">
      <td>
        <% if (c.iconPath) { %>
        <img src="<%= c.iconPath %>" style="width:40px">
        <% } else { %>
        —
        <% } %>
      </td>
      <td><strong><%= c.name %></strong></td>
      <td><%= c.description || "-" %></td>
      <td><%= c.watchTime || "-" %></td>
      <td>
        <a href="/admin/shows/<%= c._id %>/edit"
        class="btn-small btn-edit">
        Edit
        </a>

        <form method="POST"
        action="/admin/shows/<%= c._id %>/delete"
        style="display:inline">
          <button class="btn-small btn-delete">
          Delete
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<script src="/script.js"></script>
<%- include('../partials/footer') %>